name: packaging

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  cross-build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: almalinux:8
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, aarch64-unknown-linux-gnu]
        package: ["panhandle"]
    steps:
      - name: Bootstrap Container
        run: dnf install -y nodejs tar gzip

      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          # Install basic build tools and cross-compiler for aarch64
          dnf install -y gcc openssl-devel openssl pkgconf-pkg-config binutils
          #if [ "${{ matrix.target }}" == "aarch64-unknown-linux-gnu" ]; then
          #  dnf install -y gcc-aarch64-linux-gnu
          #fi

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install Cargo Tools
        run: |
          source "$HOME/.cargo/env"
          rustup toolchain install nightly --component rust-src
          rustup target add ${{ matrix.target }}
          cargo install cargo-generate-rpm bpf-linker

      - name: Build and Strip Binary
        run: |
          source "$HOME/.cargo/env"
          # Linker configuration for cross-compiling inside the container
          if [ "${{ matrix.target }}" == "aarch64-unknown-linux-gnu" ]; then
            export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc
          fi
          
          cd ${{ matrix.package }}
          cargo build --target ${{ matrix.target }} --bin ${{ matrix.package }} --release --all-features
          strip target/${{ matrix.target }}/release/${{ matrix.package }}

      - name: Generate RPM
        run: |
          source "$HOME/.cargo/env"
          cd ${{ matrix.package }}
          cargo generate-rpm --package ${{ matrix.package }} --target ${{ matrix.target }}
