name: packaging

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  cross-build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: almalinux:8
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]
        package: ["panhandle"]
    steps:
      - name: Bootstrap Container
        run: dnf install -y nodejs tar gzip

      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          # Install basic build tools and cross-compiler for aarch64
          dnf install -y gcc openssl-devel openssl pkgconf-pkg-config binutils

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install Cargo Tools
        run: |
          source "$HOME/.cargo/env"
          rustup toolchain install nightly --component rust-src
          rustup target add ${{ matrix.target }}
          cargo install cargo-generate-rpm bpf-linker

      - name: Build and Strip Binary
        run: |
          source "$HOME/.cargo/env"
          cd ${{ matrix.package }}
          cargo build --target ${{ matrix.target }} --bin ${{ matrix.package }} --release --all-features
          strip target/${{ matrix.target }}/release/${{ matrix.package }}

      - name: Generate RPM
        run: |
          source "$HOME/.cargo/env"
          cd ${{ matrix.package }}
          cargo generate-rpm --package ${{ matrix.package }} --target ${{ matrix.target }}
          ls -al

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.package }}-${{ matrix.target }}
          # Path where cargo-generate-rpm creates the .rpm file
          path: ${{ matrix.package }}/target/${{ matrix.target }}/generate-rpm/*.rpm
