name: packaging

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  cross-build:
    #runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: almalinux:8
    strategy:
      matrix:
        os: [ 'almalinux:8', 'almalinux:9', 'sle15:15.5' ]
        target: ['x86_64-unknown-linux-gnu', 'aarch64-unknown-linux-gnu']
        package: ["panhandle"]
        architecture: ['x86_64', 'aarch64']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          architecture: ${{ matrix.architecture }}

      - name: Install System Dependencies for SLES Builds
        if: runner.os == 'sle*'
        run: |
          zypper install -y gcc gcc7 libopenssl-3-devel pkg-config

      - name: Install System Dependencies for Alma Builds
        if: runner.os == 'almalinux:*'
        run: |
          dnf install -y gcc openssl-devel openssl pkgconf-pkg-config binutils

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          source "$HOME/.cargo/env"
          rustup toolchain install nightly --component rust-src
          rustup target add ${{ matrix.target }}
          cargo install cargo-generate-rpm bpf-linker

      - name: Build and Strip Binary
        run: |
          source "$HOME/.cargo/env"
          cd ${{ matrix.package }}
          cargo build --target ${{ matrix.target }} --bin ${{ matrix.package }} --release --all-features
          strip target/${{ matrix.target }}/release/${{ matrix.package }}

      - name: Generate RPM
        run: |
          source "$HOME/.cargo/env"
          cd ${{ matrix.package }}
          cargo generate-rpm --package ${{ matrix.package }} --target ${{ matrix.architecture }}
          ls -al

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.package }}-${{ matrix.target }}
          # Path where cargo-generate-rpm creates the .rpm file
          path: ${{ matrix.package }}/target/${{ matrix.target }}/generate-rpm/*.rpm
